@media screen and (max-width: 768px) {
	.contNavBar {
		background: linear-gradient(263.19deg, #1ce3e4 -17.19%, #699bf7 23.34%, #5b19e7 94.75%);
		z-index: 0;
	}

	.itemNavigate {
		color: #b9ddff;
		font-size: 10px;
	}

	.iconNav {
		font-size: 5.5rem;
		margin-bottom: 0.5rem;
	}
}
