.contNav{
    width: 100%;
    display: flex;
    align-items: center;

}

.headerIcon{
    width: 15%;
}

.headerItems{
    display: flex;
    justify-content: end;
    width: 70%;
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contTitle{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h5{
    margin: 0;
}

.navLabel, .navInput{
    display: none;
}

.contItem{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
    height: 19px;
    width: 38px;
}

.link{
    text-decoration: none;
    color: #0D4983;
    display: flex;
    align-items: center;
}

.linkAux{
    text-decoration: none;
    color: #0D4983;
    display: flex;
    align-items: center;
}


.iconHeader{
    height: 24px;
    width: 24px;
    padding: 10px;
}

@media (max-width: 950px){
    .contNav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .headerIcon{
        padding-left: 1.5rem;
    }

    .logo{
        height: 2.5rem;
    }

    .navTitle{
        position: absolute;
        left: calc(50% - 94px/2);
        font-size: 20px;
        line-height: 25px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.05em;
        color: #FFFFFF;
    }

    .navLabel{
        display: block;
        cursor: pointer;
        margin-right: 1.5rem;
    }

    .navSvg{
        width: 24px;
        height: 24px;
    }

    .headerItems{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2px 4px;
        gap: 2px;
        position: absolute;
        width: 239px;
        height: 144px;
        right: 0px;
        top: 50px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
        border-radius: 4px 0px 4px 4px;
        clip-path: polygon(100% 0, 100% 100%, 100% 100%, 100% 0);
        transition: clip-path 1s ease-in-out
    }

    .iconHeader{
        height: 24px;
        width: 24px;
        padding: 10px;
    }

    .contItem{
        width: 100%;
        flex-direction: column;
    }

    .contLinkSup{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 2px;
        width: 214px;
        height: 44px;
        border-bottom: 0.5px solid #A2A2A2;
    }

    .contLink{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 2px;
        width: 214px;
        height: 44px;

    }


    .link{
        text-decoration: none;
        width: 80%;
        font-size: 1.5rem;
    }

    .navInput:checked + .headerItems{
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    }

}
