@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
	box-sizing: content-box;
	background: #fafafa;
}

* {
	font-family: "Poppins", sans-serif;
	margin: 0;
}
.container-main {
	width: 100vw;
	height: calc(100vh - 19px - 91.5px);
	overflow-y: scroll;
	overflow-x: hidden;
}
.progressive_bar {
	border-radius: 20px;
}
.text_gradiant {
	background: linear-gradient(60.23deg, #51badb 19.54%, #662489 106.78%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}
.text_offer {
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 100%;
	text-align: center;
	letter-spacing: 0.05em;
	text-decoration-line: underline;
}
.button_presale_buy {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px 42px;
	gap: 16px;
	width: 107px;
	height: 36px;
	background: linear-gradient(60.23deg, #51badb 19.54%, #662489 106.78%);
	border-radius: 8px;
	color: #ffffff;
}
.center {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	justify-items: center;
}
.container-message {
	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 14px;
	width: auto;
	padding: 40px;
	height: 271px;
}
.container_presale {
	width: 100vw;
	height: calc(100vh - 19px - 91.5px);
	overflow-y: scroll;
	overflow-x: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.card_presale {
	width: 266px;
	height: 230px;
	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 14px;
	margin-bottom: 25px;
	position: relative;
	overflow: hidden;
}
.container_image_presale {
	width: 266px;
	height: 151px;
	padding: 0px;
	margin: 0px;
	position: relative;
}
.img_presale {
	width: 300px;
	height: 200px;
	/*object-fit: cover;*/
	position: relative;
	left: -10px;
	top: -20px;
	right: -20px;
}
.container_actions_presale {
	height: calc(230px - 151px);
	display: flex;
	justify-content: center;
	flex-direction: column;
}

@media screen and (min-width: 769px) {
	.hidden-message {
		position: absolute;
		height: 100vh;
		width: 100vw;
		z-index: 100;
		background: #fafafa;
		top: 0px;
		overflow: hidden;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
}
@media screen and (max-width: 768px) {
	.hidden-message {
		display: none !important;
	}
}
