.btnPrincipal {
	margin-left: -125px;
	margin-top: 240px ;
	font-family: 'Poppins';
font-style: normal;
color: #0D4983;
font-size: 11px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 4px 14px;
	text-decoration: none;
	background-color: transparent;
	width: auto;
	height: 25px;
	border: 1px solid #0D4983;
	border-radius: 8px;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}


.btnPago{
	display: flex;
	justify-content: center;
	border: none;
	align-items: center;
	color: #fff !important;
	width: 155px;
	height: 36px;
	background: linear-gradient(60.23deg, #51BADB 19.54%, #662489 106.78%);
	border-radius: 8px;
	font-size: 11px;
}

.titleModal {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 130%;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.05em;
	color: #25292a;
	flex: none;
	order: 0;
	flex-grow: 0;
}


