.btnPrincipal {
	margin-left: -125px !important;
	margin-top: 245px !important;
	border: 1px solid #51BADB !important;

}



.btnPago{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px 14px;
	gap: 8px;
	color: #fff !important;
	width: auto;
	height: 36px;
	
	/* INF/Gradient/1 */
	
	background: linear-gradient(60.23deg, #51BADB 19.54%, #662489 106.78%);
	border-radius: 8px;
	
	/* Inside auto layout */
	
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 1;
}

.titleModal {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 130%;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.05em;
	color: #25292a;
	flex: none;
	order: 0;
	flex-grow: 0;
}


